/*reglas generales*/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 { font-size: 5rem; }
h2, h3 { font-size: 4rem; }

.navbar-collapse {
    transition: height 0.3s ease;
}

.categoria-img {
    transition: transform 0.3s ease;
}

.categoria-img:hover {
    transform: scale(1.2);
}

/* Hero responsive */
.hero-section {
    height: 60vh; /* 60% del viewport height */
    min-height: 400px; /* Altura mínima */
    max-height: 800px; /* Altura máxima */
    background-image: url('../img/principal.jpg');
    background-size: cover;
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

/*Media Query*/

/** Reescribir colores */
:root {
  --bs-blue: #037BC0;
  --bs-green: #8cbc00;
}

/** Productos */
.producto-img {
    max-width: 120%;
    height: auto;
}